#profile-page {
    padding: 0 80px;
}

#profile-page-heading {
    display: flex;
}
#profile-page-heading-info {
    margin-left: 50px;
}

#profile-page-heading-info h1 {
    margin-top: 0;
}

.profile-page-user-image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.profile-page-user-no-image {
    font-size: 130px;
    color: gray;
}

#profile-page-lower {
    margin-top: 50px;
}
