.profiles-feed-container {
    padding: 20px;
    margin-bottom: 20px;
    width: 900px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

#profiles-feed-page {
    padding: 200px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profiles-feed-link {
    text-decoration: none;
    color: black;
}

.profiles-feed-user-image {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
}

.profiles-feed-user-no-image {
    font-size: 100px;
    color: lightgray;
}

.profiles-feed-basic-info {
    margin-left: 25px;
    margin-right: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 200px;
    border-right: 1px solid lightgray;
    font-size: 14px;
}

.profiles-feed-username h2 {
    margin-top: 0;
    margin-bottom: 10px;
}
.profiles-feed-location p {
    margin: 5px 0;
}

#search-bar {
    width: 100%;
    position: fixed;
    margin-top: 72px;
    background-color: white;
    /* padding: 10px; */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

#search-form {
    padding: 30px 80px;
}

input.search-input {
    font-size: 15px;
    color: #313140;
    max-width: 150px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid gray;
}

select.search-input {
    color: #313140;
    font-size: 15px;
    min-width: 150px;
    border: 1px solid gray;
    padding: 1px;
    border-radius: 5px;
}

select.search-input option::selection {
    color: gray;
}

.search-input {
    margin: 0 5px;
}

.native-off {
    /* font-style: italic; */
    /* text-decoration: line-through; */
    color: darkgray;
}

.native-on {
    font-style: normal;
    color: #313140;
}

#no-profiles-matched {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
