/* TODO Add site wide styles */
html {
    /* padding: 100px 0; */
    box-sizing: border-box;
    margin: 0;
    background-color: #F5F6F9;
}
html,
body,
#root {
    margin: 0;
    height: 100%;

}

.landing-page-root {
    background-color: white;
}

.nav-button {
    background-color: white;
    color: #e93329;
    padding: 5px 10px;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    width: 70px;
}

.nav-button:hover {
    background-color: #ffeaea;
}
