#feed-page-native-languages,
#feed-page-target-languages {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
}

#feed-language-list {
    display: flex;
    flex-wrap: wrap;
}

#feed-native-languages-title,
#feed-target-languages-title {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}

#feed-native-languages,
#feed-target-languages {
    margin-bottom: 20px;
}

.feed-section-heading {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px;
}

.feed-language-level {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 10px;
    font-size: 13px;
    padding-right: 20px;
}

#feed-languages-container {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

#feed-languages {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.feed-see-more {
    padding: 0 10px;
    font-weight: bold;
    font-size: 11px;
    color: gray;
}
